/*Global*/

body {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/poop_pattern.jpg");
  color: #4f4a4c;
}

h1 {
  font-family: 'Baloo', serif;
  font-size: 50px;
  text-align: center;
}

li {
  font-size: 19px;
  cursor: pointer;
  list-style-type: none;
  background-image: url('../img/poop.png');
  background-repeat: no-repeat;
  padding-left: 30px;
}

hr {
  border-top: solid #6d6769 1px;
  width: 80%;
}

.container {
  background: rgba(255, 255, 255, .9);
  border-radius: 6px;
  margin-top: 30px;
  padding-bottom: 25px;
  width: 90%;
}

/*Display ToDo Div*/

.displayToDo {
  display: none;
}

.btn {
  border: none;
  margin-top: 16px;
  background-color: #c4a287;
  color: white;
  font-weight: bold;
}

#toDoLabel {
  margin-left: 15px;
  text-align: center;
}

#toDoHeader {
  margin-left: 10px;
}

#complete {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.em-poop {
  font-size: 30px;
}
